/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: black;
  }
  
  /* Header styles */
  h1 {
    color: black;
    
  }
  
  /* Button styles */
  button {
    padding: 8px 16px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: black;
    cursor: pointer;
  }
  
  button:hover {
    background-color: greenyellow;
  }
  
  /* Input styles */
  input[type="text"],
  input[type="file"] {
    margin-top: 8px;
    padding: 6px;
    border-radius: 4px;
    background-color: lightseagreen;
    border: 1px solid green;
  }
  
  /* Divider styles */
  hr {
    margin-top: 20px;
    border: none;
    border-top: 1px solid green;
  }
  
  /* Output area styles */
#dataOutput {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: lightseagreen;
    border: 1px solid green;
    height: 30px; /* Set a fixed height */
    overflow: auto; /* Add scrollbar if content exceeds height */
}
  
 /* Container styles */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: blue;
    border-radius: 8px;
    box-shadow: 0 0 10px green;
  }
  
  /* Interaction container styles */
  .interaction-container {
    margin-bottom: 20px;
  }

 /* Logo styles */
.logo {
    width: 40px; /* Adjust the width of the logo as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Add spacing between title and logo */
    vertical-align: middle; /* Align the logo vertically */
  }

  /* Center the title and the logo */
h1 {
    text-align: center; /* Center the text content */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center content horizontally */
  }